<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.product.demand.mapper.OrderLineMapper">

    <!-- 子表查询 -->
    <select id="selectProductionBatchList" resultType="com.product.domain.entity.ProductionBatch">
        select batch_id, order_line_id, batch_qty, status, planned_start, planned_end, create_time, update_time
        from production_batch
        where batch_id = #{batchId}
    </select>

    <!-- 批量删除子表 -->
    <delete id="deleteProductionBatchByBatchIds" parameterType="java.lang.String">
        delete from production_batch where batch_id in
        <foreach item="batchId" collection="array" open="(" separator="," close=")">
            #{batchId}
        </foreach>
    </delete>

    <!-- 根据主表主键删除子表 -->
    <delete id="deleteProductionBatchByBatchId" parameterType="java.lang.Long">
        delete from production_batch where batch_id = #{batchId}
    </delete>

    <!-- 批量新增子表数据 -->
    <insert id="batchProductionBatch">
        insert into production_batch( batch_id, order_line_id, batch_qty, status, planned_start, planned_end, create_time, update_time) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.batchId}, #{item.orderLineId}, #{item.batchQty}, #{item.status}, #{item.plannedStart}, #{item.plannedEnd}, #{item.createTime}, #{item.updateTime})
        </foreach>
    </insert>
</mapper>
