package ${basePackage}.domain.entity;

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.product.common.annotation.Excel;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.NoArgsConstructor;
#set($hasCreateTime=false)
#set($hasUpdateTime=false)
#foreach ($column in $columns)
#if($column.javaField == "createTime" || $column.columnName == "create_time")
#set($hasCreateTime=true)
#end
#if($column.javaField == "updateTime" || $column.columnName == "update_time")
#set($hasUpdateTime=true)
#end
#end
#if($hasCreateTime && $hasUpdateTime)
import ${basePackage}.common.core.entity.BaseEntity;
#end
#foreach ($import in $importList)
import ${import};
#end
#if($table.sub)
import java.util.List;
#end

/**
 * ${functionName}对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@NoArgsConstructor
@EqualsAndHashCode#if($hasCreateTime && $hasUpdateTime)(callSuper = true)#end
@TableName("${tableName}")
public class ${ClassName} #if($hasCreateTime && $hasUpdateTime) extends BaseEntity #end{
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField))
    /** $column.columnComment */
#if($column.list)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if($parentheseIndex != -1)
    @Excel(name = "${comment}", readConverterExp = "$column.readConverterExp()")
#else
    @Excel(name = "${comment}")
#end
#end
#if($column.columnName == $pkColumn.columnName)
    @TableId(value = "$column.columnName", type =#if($pkColumn.increment) IdType.AUTO#else IdType.ASSIGN_UUID #end)
#else
    @TableField(value = "$column.columnName")
#end
    private $column.javaType $column.javaField;

#end
#end
#if($table.sub)
    /** $table.subTable.functionName信息 */
    @TableField(exist = false)
    private List<${subClassName}> ${subclassName}List;

#end
}
